---
# Leave this - it makes the damn thing work
---

// colors
$primary: #212121
$accent1: #2f0076
$accent2: #477600
$white: #FFFFFF
$light: #484848
$dark: #000000

header
    visibility: hidden
.row
    img
        height: 8vh
        border-radius: 100%
    h1
        font-variation-settings: 'wght' 750
        font-size: 8vh
        display: inline-block

p
    width: 50%
