---
# No touch, make work
---

// styles
html,body
    background-color: #000000
    color: #FFFFFF
#padding-top
    padding-top: 20px
    width: 100%
.content
    padding-left: 20px
    padding-right: 20px
