/* Custom Font */
@font-face {
    font-family: 'tatfont';
    src: url('comic/tatfont/tatfont.woff') format('woff'),
        url('comic/tatfont/tatfont.ttf') format('ttf'),
        url('comic/tatfont/tatfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
/* General Page */
html,body {
    height:100%;
    width:100%;
    font-family: 'tatfont', Courier, monospace;
}
