<footer>
    <div style='width:100%;border-bottom: 2px dashed #FFF;height:20px;'></div>
    <div style='padding-left:20px;padding-right:20px;'>
        <p> Credit to outside help </p>
        <table>
            <tr style='decoration:none; font-size:10px;'>
                <td>Navbar designed by</td>
                <td><a href='https://codepen.io/jenning/'><img src="https://s.cdpn.io/profiles/user/686667/512.jpg?1545273748" style='width:50px;' /></a></td>
            </tr>
            <tr>
                <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                </tr>
        </table>
    </div>
</footer>
