<nav class='menu'>
    <ol>
        <li class='menu-item'><a href='/'>Home</a></li>
        <li class='menu-item'>
            <a href='#'>Hobbies</a>
            <ol class='sub-menu'>
                <li class='menu-item'><a href='/music'>Music</a></li>
                <li class='menu-item'><a href='/coding'>Coding</a></li>
            </ol>
        </li>
        <li class='menu-item'>
            <a href='#0' title="It would be under hobbies, but it is more than a hobby at this point">Water Polo</a>
            <ol class='sub-menu'>
                <li class='menu-item'><a href='/waterpolo/schedule'>Schedule</a></li>
                <li class='menu-item'><a href='/waterpolo/video'>Video</a></li>
            </ol>
        </li>
        <li class='menu-item'>
            <a href='#'>Fun Projects</a>
            <ol class='sub-menu'>
                <li class='menu-item'><a href='/scpa'>SCPA</a></li>
                <li class='menu-item'><a href='/comic'>Comic</a></li>
            </ol>
        </li>
        <li class='menu-item'><a href='/contact'>Contact</a></li>
        <li class='menu-item'>
            <a href='#'>Other Stuff</a>
            <ol class='sub-menu'>
                <li class='menu-item'><a href='/academics'>Academics</a></li>
                <li class='menu-item'><a href='/downloads'>Files</a></li>
            </ol>
        </li>
    </ol>
</nav>
