<header>
    <a href="/"><img src="/assets/img/tate-ward.png" id="tate-ward"></a>
    <div class="header-group">
        <h2><a href="/">Tobias Ward</a></h2>
        <h3><a href="/programming">Programming</a> - <a href="/photography">Photography</a> - <a href="/academics">Academics</a></h3>
    </div>
    <ul class="social">
        <li>
            <a href="mailto:tateATSYMBOLtatesworldPERIODcom">
                <img src="/assets/img/social/gmail.png" class="social">
            </a>
        </li>
        <li>
            <a href="http://github.com/MoonMoon2">
                <img src="/assets/img/social/github.png" style="height:20px;width:30px">
            </a>
        </li>
        <li>
            <a href="http://twitter.com/IhasNumNum">
                <img src="/assets/img/social/twitter.png" class="social">
            </a>
        </li>
        <li>
            <a href="http://instagram.com/IhasNumNum">
                <img src="/assets/img/social/instagram.png" class="social">
            </a>
    </ul>
    <div id="nav-button"><span></span><span></span><span></span></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/robots">Robots</a>
                <ul>
                    <li><a href="/robot/2016">2016</a></li>
                    <li><a href="/robot/2015">2015</a></li>
                    <li><a href="/robot/2014">2014</a></li>
                </ul>
            </li>
            <li><a href="/team">The Team</a></li>
            <li><a href="/sponsorship">Sponsor Us</a></li>
            <li><span>More</span>
                <ul>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/outreach">Outreach</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<
